@import "config";
@import "utilities";

// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Rubik", sans-serif;

  &:focus {
    outline: none;
  }
}
::placeholder {
  color: $Grayish-Blue;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  background: #fafafa;
  position: relative;

  //for desktop
  // height: 800px;
  // width: 1440px;
}
input:focus {
  border: none;
}
// Background
.rectangular {
  height: 100vh;
  overflow: hidden;

  &-left {
    width: 33.34%;
    min-width: 200px;
    max-width: 480px;
    height: 960px;
    border-radius: 15rem;
    background: linear-gradient($Light-Magenta, $Light-Violet);
    position: absolute;
    top: -32.5%;
    left: -4.17%;
    z-index: -1;
  }
  &-right {
    width: 33.34%;
    min-width: 200px;
    max-width: 480px;
    height: 960px;
    border-radius: 15rem;
    background: $Light-Grayish-Violet;
    position: absolute;
    bottom: -35%;
    right: -11%;
    z-index: -1;
  }
}

.phone {
  &-frame {
    background: $White;
    width: 250px;
    height: 505px;
    border-radius: 30px;
    // box-shadow: 12px 20px 50px 0px #e2e0e5;
    box-shadow: 0px 20px 60px 0px hsl(270, 7%, 71%);
    position: relative;
    top: 150px;
    // left: 360px;
    left: 25vw;

    &-background {
      background: $Light-Grayish-Violet;
      width: 230px;
      height: 484px;
      margin: 10px;
      border-radius: 30px;

      .chat {
        height: 275px;
        font-size: 8px;
        font-weight: 500;
        margin-top: 10px;
        padding: 0 8px;

        p {
          padding: 5px 8px;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          margin: 0px 4px;
          // float: inherit;
        }

        .image-box {
          // float: inherit;
          margin: 0 -4px;
          margin-bottom: 8px;
          display: flex;
        }

        &-employee {
          // margin-bottom: 12px;
          margin-bottom: 8px;
          float: left;
          display: flex;
          flex-direction: column;
          max-width: 136px;
          &-text {
            background: hsl(272, 6%, 92%);
            color: $Moderate-Violet;
            border-radius: 10px 10px 10px 4px;
            margin-bottom: 8px;
            margin-right: 8px;
            max-width: max-content;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }

        &-client {
          // margin-bottom: 12px;
          max-width: 136px;
          float: right;
          margin-bottom: 8px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          &-text {
            background: $White;
            color: $Desaturated-Dark-Violet;
            border-radius: 10px 10px 4px 10px;
            margin-bottom: 8px;
            margin-left: 8px;
            max-width: max-content;
            // float: inherit;
          }

          .image-box {
            justify-content: flex-end;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }

        // .image-box {
        //   // margin-left: 8px;
        //   max-width: 136px;
        // }
      }

      // .chat :last-child {
      //   margin-bottom: 0px;
      // }

      .chat-fee {
        font-size: 8px;
        font-weight: 500;

        padding: 0 8px;
        display: flex;
        // float: left;
        flex-direction: column;
        position: absolute;
        bottom: 55px;
        &-contract {
          // position: absolute;
          // bottom: 60px;

          // float: left;
          width: 160px;
          min-height: 26px;
          background: linear-gradient(to left, $Light-Violet, $Light-Magenta);
          color: white;
          border-radius: 10px 10px 10px 4px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;
          padding: 6px;

          #time {
            display: flex;
            align-items: center;

            .selectItem {
              background-color: transparent;
            }
            p {
              font-weight: 400;
              padding: 0 8px;
            }
          }
        }
        &-contract:last-child {
          margin-bottom: 16px;
        }

        #price {
          padding: 0 10px;
          font-size: 0.7rem;
        }
      }

      &-top {
        width: 100%;
        height: 66px;
        position: relative;
        background: linear-gradient(to right, $Light-Violet, $Light-Magenta);
        z-index: 2;

        .heading {
          color: $White;
          width: 100%;
          height: 24px;
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          position: relative;
          top: 30px;
          &-left {
            display: flex;
            .title {
              font-size: 0.6rem;
              line-height: 1.25;
              margin-left: 8px;
              // .name {
              // }
              .status {
                color: $Pale-Violet;
                // font-size: 0.5rem;
              }
            }
            .avatar {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              border: 1px solid $White;
            }
          }
          &-right {
            .material-icons {
              font-size: 14px;
            }
          }
        }
      }
      &-notch {
        width: 130px;
        height: 30px;
        background: $White;
        border-radius: 0 0 18px 18px;
        position: absolute;
        top: 0;
        left: 60px;
        z-index: 3;
      }

      &-textInput {
        width: 210px;
        height: 35px;

        background: $White;
        border-radius: 30px;
        position: absolute;
        left: 20px;
        bottom: 20px;
        .texting {
          width: 68%;
          height: 100%;
          border: none;
          font-size: 10px;
          // color: $Grayish-Blue;
          margin: 0 10px 0 20px;
        }
        &-submit {
          width: 24px;
          height: 24px;
          background: $Very-Dark-Desaturated-Violet;
          border-radius: 50%;
          position: relative;
          float: right;
          margin: 5px;
          color: $White;
        }
      }
    }
  }
}
.text {
  width: 470px;
  height: 210px;
  position: absolute;
  left: 735px;
  top: 37%;
  padding: 5px;
  padding-left: 0;
  line-height: 1.6;
  h2 {
    font-size: 2.25rem;
    margin: 1rem 0;
    color: $Very-Dark-Desaturated-Violet;
  }
  p {
    color: $Dark-Grayish-Violet;
    font-size: 1.1rem;
  }
}
footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  .attribution {
    margin: auto;
  }
}

@import "media";
